<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>SomeSearch</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    </head>
    <body>
        <div style="margin-top: 15%">
            <div style="text-align: center">
                <h1 style="font-size: 100px">SomeSearch</h1>
                <form action="/index" method="post">
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-2">
                            <input type="text" required="required" name="q" id="q" placeholder="Url to ingex" class="form-control input-lg"/><br/>
                            <button type="submit" class="btn btn-default btn-lg">Index</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <script>document.getElementById("q").focus()</script>
    </body>
</html>