<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Indexed!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    </head>
    <body>
        <div style="margin-top: 20%">
            <div style="text-align: center">
                <h1 style="font-size: 100px">OK!</h1>
                <p th:text="'URL: ' + ${item.url} + ' indexed!'" />
            </div>
        </div>
    </body>
</html>